.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  font-size: 20px;
}

.div-header {
  height: 104px;
  width: 1016px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.logo {
  margin-left: 50px;
  margin-top: 20px;
}

/* .span-text {
  left: 20.21%;
  right: 64.31%;
  top: 5.37%;
  bottom: 92.56%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #808080;
}

.span-date {
  position: absolute;
  left: 61.04%;
  right: 33.89%;
  top: 5.37%;
  bottom: 92.56%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #808080;
} */